<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmed!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <style>
        .btn-primary
        {
         padding: 10px 20px;
         font-size: 20px;
         border-radius: 10px;
        }

    </style>
</head>
<body>
<div class="container" align="center">
    <h1 class="alert alert-success">Hi! We are glad to see you. Please login below.</h1>
    <a class="btn btn-primary" href="${pageContext.request.contextPath}/login">Login</a>
</div>
</body>
</html>